<body>
    <h1>{{ data['nadpis'] }}</h1>
<table>
        <thead>
            <th>{{ data['Nazevsloupce']}}</th>
        </thead>
        <tbody>

            {% for item in data['data'] %}
            <tr><td>{{ item }}</td></tr>
            {% endfor %}

        </tbody>
</table>
    <p>{{ data['datum']}}</p>
    <h2>Deti</h2>
    {% for item in data['deti'] %}
            <p>{{ item }}</p>
            {% endfor %}

    <h2>{{ data['cars'][0]['name'] }}</h2>
    {% for item in data['cars'][0]['models'] %}
            <p>{{ item }}</p>
            {% endfor %}
    <h2>{{ data['cars'][1]['name'] }}</h2>
    {% for item in data['cars'][1]['models'] %}
            <p>{{ item }}</p>
            {% endfor %}
    <h2>{{ data['cars'][2]['name'] }}</h2>
    {% for item in data['cars'][2]['models'] %}
            <p>{{ item }}</p>
            {% endfor %}

</body>